//
//  Copyright © 2016 WhatsApp LLC. All rights reserved.
//
// Global variables
ROOT_DIR = .
SUBMODULES_PATH = $(ROOT_DIR)/submodules

CUSTOM_SUPPORTS_OPENING_DOCUMENTS_IN_PLACE[sdk=iphonesimulator*] = NO
CUSTOM_SUPPORTS_OPENING_DOCUMENTS_IN_PLACE[sdk=iphoneos*] = NO
CUSTOM_SUPPORTS_OPENING_DOCUMENTS_IN_PLACE[sdk=macosx*] = YES

// Settings (sorted alphabetically)
ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_OPTIMIZATION = space
CLANG_ANALYZER_GCD_PERFORMANCE = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_OSOBJECT_C_STYLE_CAST = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_MODULES_AUTOLINK = NO
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_ASSIGN_ENUM = NO
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = NO
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = NO
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = NO
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SEMICOLON_BEFORE_METHOD_BODY = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
CODE_SIGN_STYLE = Manual
COMPRESS_PNG_FILES = NO
COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEFINES_MODULE = YES
DEPLOYMENT_POSTPROCESSING = YES
DEVELOPMENT_TEAM = 57T9237FN3
ENABLE_BITCODE = NO
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
ENABLE_SWIFT_LINT = YES // Enables SwiftLint by default. Change to NO in your local overrides to opt out of Xcode warnings
ENABLE_SWIFT_LINT_AUTOCORRECT = NO // Enables SwiftLint autocorrect. Change to YES to enable
EXCLUDED_ARCHS = i386
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_OBJC_EXCEPTIONS = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = z
GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) GPB_USE_PROTOBUF_FRAMEWORK_IMPORTS=1 CHANNEL_SUPPORT=1 MCF_EXTERN_RUNTIME=1 MSYS_FOR_OBJC=1 WA_MCF_CUSTOM_FORWARD_DECLARATION=1 WA_MCF_CUSTOM_ASSUME_NONNULL=1 MULTI_PS_KEY=1 HAVE_WAM_CUSTOM_H=1 PJ_IS_LITTLE_ENDIAN=1 PJ_IS_BIG_ENDIAN=0 MBEDTLS_CONFIG_FILE=\"config_alt.h\" WHATSAPP_TEAM_IDENTIFIER=\"$(DEVELOPMENT_TEAM)\"
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphone*] = $(inherited) WA_ENABLE_IPAD_PLATFORM=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=macosx*] = $(inherited) WA_ENABLE_COMPANION_SUPPORT=1
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = NO
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VARIABLE = YES
HEADER_SEARCH_PATHS = $(TARGET_BUILD_DIR)/include
IPHONEOS_DEPLOYMENT_TARGET = 12.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=macosx*] = 14.0
LLVM_LTO = YES
MOMC_NO_INVERSE_RELATIONSHIP_WARNINGS = YES
MTL_ENABLE_DEBUG_INFO = NO
ONLY_ACTIVE_ARCH = NO
OTHER_CFLAGS = $(inherited) -fstack-protector-strong
OTHER_LDFLAGS = $(inherited) -Xlinker -no_function_starts
OTHER_SWIFT_FLAGS = $(inherited) -D GPB_USE_PROTOBUF_FRAMEWORK_IMPORTS $(OTHER_SWIFT_FLAGS_EXTRAS)
OTHER_SWIFT_FLAGS[sdk=iphone*] = $(inherited) -D WA_ENABLE_IPAD_PLATFORM
OTHER_SWIFT_FLAGS[sdk=macosx*] = $(inherited) -D WA_ENABLE_COMPANION_SUPPORT
OTHER_SWIFT_FLAGS_EXTRAS = -Xllvm -sil-disable-pass=generic-specializer
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_NAME_SUFFIX =
SDKROOT = iphoneos
SKIP_INSTALL = YES
STRIP_PNG_TEXT = NO
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -Osize
SWIFT_SUPPRESS_WARNINGS = NO
SWIFT_SWIFT3_OBJC_INFERENCE = Default
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_VERSION = 5
TARGETED_DEVICE_FAMILY = 1
VALIDATE_PRODUCT = YES
WARNING_CFLAGS = -Wall -Wpartial-availability -Wmethod-signatures $(WARNING_CFLAGS_TEMPORARY)
WARNING_CFLAGS_TEMPORARY = -Wno-error=strict-prototypes
