
#include "TargetSignable.xcconfig"

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
CURRENT_PROJECT_VERSION = 1
VERSION_INFO_PREFIX =
VERSIONING_SYSTEM = apple-generic
STRIP_STYLE = non-global
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = net.whatsapp.$(TARGET_NAME)$(PRODUCT_NAME_SUFFIX)
INFOPLIST_FILE = $(TARGET_NAME)/Info$(PRODUCT_NAME_SUFFIX).plist
APPLICATION_EXTENSION_API_ONLY = YES
